
body {
	background-color: #eee;
	



}
.layout{
	width: 960px;
	height: 650px;
	margin-top: 200px;
	background-color:#4aaaa5;

}
.navbar{
	width: 100%;
	height: 80px;
	background-color: #fff;


}
.navbar li{
		float: right;
	padding-right: 40px;
	padding-top: 30px;

}
.navbar h1{
	float: left;
}

